@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500;1,700&family=Kablammo&family=Roboto:ital,wght@1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
.sidebar{
    background-color: grey;
    width: 200px;
    font-family: 'Fira Sans', sans-serif;
    height: 150vh;
    transition: transform 0.3s ease-in;
    position: absolute;
}
.sidebar nav{
    padding: 20px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    /*background-color: yellow;*/
    width: 100vw;
    height: 120vw;
   
}
.container{
    display: flex;

}

.devinfo{
    display: flex;
    
    flex-direction: column;
    font-size: 16px;
}
.hello{
  font-size: 30px;
}
.name{
    font-size: 50px;
    font-family: 'Fira Sans', sans-serif;
    
}
.about{
    font-size: 20px;
}
.moreabout{
    font-size: 40px;
    margin: 12px;
    font-family: 'Fira Sans', sans-serif;
}
.button{
    margin-top: 2.2em;
    font-size: 16px;
}
.buttons button{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: rgb(130, 12, 12);
    font-weight: bold;
    font-size: 17px;
    margin: 3px 0;
    cursor: pointer;
}
.buttons button:hover{
 background-color: white;
 color: rgb(130, 12, 12);
}
.buttons_sm{
    font-size: 17px;
    padding: 7px 13px;
    margin: 10px 0;
}
.devpic img{
    height: 90vh;
    margin: 0 80px;
    padding-left: 400px;
}
.contact{
    padding-left: 400px;
    padding-top: 40px;
    font-family: 'Fira Sans', sans-serif;
}
.contact form{
    margin: 0 30px;
    margin: 50px 88px;
}
.contact h1{
 font-family: Georgia, 'Times New Roman', Times, serif;

 margin: 10px;
}
.contact div{
    padding: 15px 0;
    
    flex-direction: column;
    
}

#clientname{
    text-align: left;
}
.mb-3{
    margin: 6px 0 0 0;
}
.infocontainer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 20vh;
    width: 10vh;
    padding-top: 100px;
    margin: 15px 10px;
    display: flex;
    padding-left: 300px;
}
.intro{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 20vh;
    width: 20vh;
    padding-top: 20px;
    margin: 15px 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
}
.intro h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 20vh;
    width: 20vh;
    padding-top: 20px;
    margin: 15px 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
}
.intro p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: auto;
    width: 70vh;
    padding-top: 20px;
    margin: 15px 10px;
    display: flex;
    padding-left: 100px;
}
.devinfo h2{
    padding: 30px;
    padding-top: 1px;
}
.devinfo{
    padding-top: -1px;
}



.skill{
    width: 256px;
    height: 6px;
    background-color: orange;
    margin: 10px auto;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}
.skills{
  display: flex;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 900;
}
.skillcontainer{
    padding: 1px;
}
.hundred{
    width: 290px;
    background-color: red;
}
.fifty{
    width: 200px;
    background-color: yellow;
}
.t5{
    width: 100px;
    background-color: blue;
}
.ninty{
    width: 260px;
    background-color: crimson;
}
.sidebarGo{
    
        transform: translate(-443px,0px);
        position: absolute;
}
  

.humbarger{
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
}
.hum{
    margin-top: 8px;
    margin-left: 8px;
}
.cross{
  margin-left: 155px;
  margin-top: 8px;
}
@media(max-width: 1615px) {
    *{
      /*background-color: lightblue;*/
    }
    .button{
        font-size: 10px;
    }
    .devinfo{
        font-size: 6px;
    }
    .intro,.contacts,.infocontainer,.skills,.container{
        /* margin: 50 8px; */
    }
    /*.sidebar{
        transform: translate(-443px,0px);
        position: absolute;
    }*/
  }